@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Condominios Chile SpA</h1>
        <p class="lead">Condominios Chile es un software web creado para satisfacer las necesidades de las comunidades que requieren una solucion definitiva para asi gestionar sus comunidades de forma transparente</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-md">Más Información &raquo;</a></p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Contratar</h2>
            <p>
                Nuestro software es el mas completo del mercado, desarrollado por los mas experimentados programadores, contruyendo un programa velando por ser un sistema facil de utilizar ademas de mantener seguridad de los datos de forma
                encriptada.
                
            </p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301865">Más Información &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Nuestros Planes</h2>
            <p>Si necesitas mayor información sobre nuestros planes a medida puedes consultar nuestra información que incluye cada plan.</p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301866">Más Información &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">¿Dudas?</h2>
            <p>Puedes aclarar tus dudas con nuestro personal el cual aclarara todas tus dudas sobre el software y su funcionamiento..</p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301867">Más Información &raquo;</a></p>
        </section>
    </div>
</main>